/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.card {
  margin-bottom: 16px;
}

.card img {
  margin: 8px;
  border-radius: 4px;
  max-height: 240px;
  max-width: 240px;
  object-fit: cover;
}

.hero-banner {
  background-image: url('restaurant-image.jpg');
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.hero-banner h1, .hero-banner h2 {
  text-shadow: 4px 4px 8px black;
}

.profile-subheader {
  background-color: white;
  margin: 16px;
  padding: 16px;
  color: black;
}

.profile-subheader i{
  color: orangered;
}

.review-card {
  margin-bottom: 20px;
}
